*{
    margin: 0;
}
body {
  overflow-x: hidden;
}

.homeContainer{
    display: flex;
    width: 100vw;
    text-align: left;
}

.hometopbar{
    position: sticky;
    z-index: 999;
    top: 0;
}

@media screen and (max-width:600px) {
    div.moni{
        display:none;
    }
}

.container{
    background-color: rgb(219, 242, 234);
}

.frontpage-settings{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-left: 250px;
    margin-right: 250px;
    text-align: left;
    font-family: 'Libre Baskerville', serif;
    margin-top: -90px;
} 

.frontpage-writeup img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

h4{
    font-size: 20px;
    width: 400px;
    font-weight: 100;
    font-family: 'Poppins', serif;
}